body {
    font-family: 'Inter', sans-serif;  
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {  
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}   

/* containers */

.container-fluid {
    padding: 7% 15%;
}

/* - - - -  */

/* title */

#title {
    background: linear-gradient(-45deg, #1D1CE5, #4649FF, #23a6d5, #7978FF);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo {
    transform: scale(0.45);
}


.big-heading {
    font-family: 'Inter', sans-serif;
    font-size: 4rem;  
    line-height: 1.5;  
    font-weight: 900;
    padding-top: 150px;
    padding-bottom: 75px;
    color: white;
    text-align: left;
}

.title-container {
    padding: 3% 15%;
    padding-bottom: 0px;
}

.title-btn {
    position: relative;
    right: 125px;

}
.apple-btn {
    margin-right: 10px;
}

.title-image {
    transform: rotate(20deg);
    position: relative;
    top: 125px;
    z-index: 1;
}

@media (max-width:1000px) {
    .title-image {
        transform: rotate(0deg);
    }
}

/* Nav Bar */
.navbar-brand {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 3rem;
}

.nav-link {
    color: white  ;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
}

.nav-link:hover {
    color: #8078FF;
}

/* - - - - - - */
/* - - - - - - */
/* features */

.features-container {
    padding: 5% 15% 5%;
    background-color: white;
    position: relative;
    z-index: 2;
}

@media (max-width:1000px) {
    .features-container {
        padding: 15% 15% 5%;
    }
}

.feature-col {
    margin-top: 40px;
    margin-bottom: 40px;
}

.feature-icon {
    transform: scale(0.5);
}

.features-title {
    font-family: 'Inter', sans-serif; 
    font-weight: bolder;
    font-size: 1.5rem;
}

.features-description {
    font-family: 'Inter', sans-serif; 
    color: #8f8f8f;
    padding: 1% 10%;
}
/* - - - - - - */
/* Testimonials  */

#testimonials {
    background: linear-gradient(-45deg, #1D1CE5, #4649FF, #23a6d5, #7978FF);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 70vh;
    color: white;
}

.tetimonials-container {
    z-index: 3;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 15%;
    transform: scale(0.70);
    position: relative;
    margin: 25px;
}

.testimonial-occupation {
    position: relative;
}

.carousel-control-prev {
    padding-right: 150px;
}

.carousel-control-next {
    padding-left: 150px;
}

/* - - - - - - */
/* Donate */
#donate {
    padding: 6% 25%;
}

.donate-title {
    font-size: 2.5rem;
    line-height: 1.5;
}

.donate-price {
    font-size: 3rem;
    line-height: 1.5;
}
.donate-btn {
    width: 100%;
}

.donate-btn-align-1 {
    position: relative;
    top: 1%;
}

.donate-btn-align-2 {
    position: relative;
    top:1%;
}

.donate-btn-align-3 {
    position: relative;
    top: 10%;
}

.donate-col {
    padding: 2% 1%;
}

.card:hover {
    border: 2px;
    border-style: outset;
    border-color: blue;
}

.card-body {
    line-height: 2;
}

/* - - - - - - */
/* Call to Action  */
#cta {
    background: linear-gradient(-45deg, #1D1CE5, #4649FF, #23a6d5, #7978FF);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 75vh;
    padding: 10% 25%;
}
.cta-title {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.5;
    
}

.cta-button {
    margin: 50px 10px 0px;
}
/* - - - - - - */
/* Footer  */

#footer {
    padding: 5% 5% 3%;
}

.footer-a {
    margin: 10px;
}

.footer-copyright {
    margin-top: 30px;
    color: #8f8f8f;
}
/* - - - - - - */

